*{
    padding:0;
    margin:0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    font-size: 2.5rem;
   
}
.game{
    height:60vmin; 
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size:8vmin;
    color:firebrick;
    background-color: #ffffc5;
}

.box:hover{
    cursor:pointer;
    background-color: #ffcccc;
}

.reset{
  padding:1rem;
  border-radius:15px;
  border:none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  background-color: black;
  color:white;
  font-weight: 700;
}

.new{
    padding:1rem;
    border-radius:15px;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: black;
    color:white;
    margin-top: 8px;
}

#msg{
    color:#ffffc5;
    font-size:5vmin; 
    margin-top:4px;
}

.msgcontainer{
    height:15vmin;
}
.hide{
    display:none;
}


/* responsive */

/* Default styles for large screens */
.container {
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: min(5em, 8%); */
  }
  
  /* Styles for medium screens (e.g., tablets) */
  @media (max-width: 768px) {
    .container {
      height: 50vh;
      padding: min(3em, 6%);
    }
  }
  
  /* Styles for small screens (e.g., mobile phones) */
  @media (max-width: 480px) {
    .container {
      height: 40vh;
      width: 90vw;
      padding: min(2em, 4%);
    }
    h1{
        font-size: 2.3rem;
    }
  }